html {
  font-size: 14px;
}

body {
    font-family:'Fira Code';
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  min-height: 100%;
  height: 100vh;
}

.backg {
    background-image: url("https://m.media-amazon.com/images/I/61OLGLMJOHL._AC_UF894,1000_QL80_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a, button{
    cursor: pointer;
}

header li:hover, footer i:hover, a:hover{
    transform: scale(1.1);
}
footer {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
footer i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.my_main {
    height: 100vh;
    background-image: url('https://us.123rf.com/450wm/brunonetto/brunonetto2301/brunonetto230100033/196401786-pizza-ai-peperoni-italiana-tradizionale-con-salsa-di-pomodoro-e-rucola.jpg?ver=6');
    background-repeat: no-repeat;
    background-size: cover;
}

aside{
    position: absolute;
    right: 0;
    background-color: pink;
    padding: 100px
}