html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  min-height: 100%;
  height: 100vh;
}

.backg {
    background-image: url("https://m.media-amazon.com/images/I/61OLGLMJOHL._AC_UF894,1000_QL80_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a, button{
    cursor: pointer;
}

header, a:hover{
    text-decoration: underline;
}
footer {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
footer i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
}